VITE_SUPABASE_URL=https://poudbyqhmmdqrxoandhf.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_mrcFpEOLM6s0BlaBaB9CoA_cE_xrrKEeyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBvdWRieXFobW1kcXJ4b2FuZGhmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODEwNjYyNTEsImV4cCI6MjA5NjY0MjI1MX0.mTmXTSntnCvlfSiQdErRQfzTkTuQCvy-9nYajcAz5Ec
